body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.logo a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 3px 0;
}

.content {
  padding: 20px;
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 25%;
      /* opacity: 50%; */
      background-color: #0e0d0d7e;
      position: absolute;
      top: 60px;
      right: 0;
      padding: 10px 0 10px 0;
      font-size: 18px;
      text-align: end;
  }

  .nav-links.active {
      display: flex;
  }

  .menu-toggle {
      display: flex;
  }
}
